langgraph==0.6.6
langchain-anthropic==0.3.19
langchain-ollama==0.3.8
langchain-community>=0.2.0
langchain-core>=0.2.0
python-dotenv==1.1.1
langgraph-cli[inmem]
langgraph-sdk=0.2.6
langgraph-api=0.4.22